.bsbg {
    position: relative;
    height: 48em;
    background-blend-mode: darken;
    animation: bsbg 4s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
.gamelogo {
    animation: gamelogo 2s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
.gameicon {
    animation: gameicon 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}
.signup {
    color: var(--white);
    font-size: 4em;
    font-weight: 800;
    position: relative;
    left: 45%;
    animation: signup 1s cubic-bezier(0.645, 0.045, 0.355, 1.000) both;
}

@keyframes bsbg {
    0% {
        opacity: 0;
        height: 0;
    }
    50% {
        opacity: 1;
        height: 48em;
    }
    100% {
        background-color: rgba(0, 0, 0, 0.753);
    }
}

@keyframes gamelogo {
    50% {
        top: -12em;
        filter: blur(20px);
    }
    100% {
        filter: blur(0);
        top: 12em;
    }
}

@keyframes gameicon {
    100% {
        right: 10em;
    }
}

@keyframes signup {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        left: 50%;
        opacity: 1;
    }
  }