.vmk {
  height: 2em;
  margin-left: 1em;
  transform: rotate(90deg);
}
.bsbg {
  background: url(/images/brawlstars_bg.jpg) 50% 50%;
  width: 100%;
  position: relative;
  height: 48em;
}
.gamelogo {
  display: block;
  margin: auto;
  top: -12em;
  position: relative;
}