h1 {
  font-weight: 600;
}
.vmk {
  height: 2em;
  margin-left: 1em;
  transform: rotate(90deg);
}
.bgimage {
  background: url(/images/brawlstars_bg.jpg) 50% 50%;
  width: 100%;
  height: 32em;
}
.darken {
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.753);
}
.gamelogo {
  display: block;
  margin: auto;
  top: -12em;
  position: relative;
}
.gameicon {
  display: block;
  margin: auto;
  z-index: 2;
  top: 192px;
  right: 0;
  position: relative;
}
.img {
  max-width: 80%;
  display: block;
  margin: auto;
}
.line {
  margin: 2em auto;
  border-bottom: 2px solid var(--gray);
}
iframe {
  width: 50%;
  border: 5px solid var(--cyandark);
}
.footer {
  color: var(--gray);
  margin-top: 5em;
  background-color: var(--black);
  border-top: 5px solid var(--cyan);
}
.footer .img {
  display: none;
}
.icons {
  display: block;
  position: absolute;
  right: 5%;
}
.icons a {
  font-size: 200%;
  color: var(--gray);
  text-decoration: none;
}
.icons a:hover {
  color: var(--white);
}
.copyright {
  color: var(--cyandark);
}
.logof {
  color: var(--white);
  display: block;
  float: right;
  font-size: 2em;
  position: absolute;
  right: 5%;
  margin-top: 3em;
  text-decoration: none;
}
form {
  padding: 1em;
  border: 2px solid var(--gray);
}
input {
  width: 100%;
}
table {
  margin: auto;
  border-collapse: collapse;
  max-width: 90%;
}
td {
  padding: .3em;
}
tbody tr:nth-child(odd) {
  background-color: var(--lightgray);
}
tbody button {
  background-color: var(--white);
}
@media (min-width: 48em) {
  .footer .img {
    display: block;
  }
}
@media screen and (min-width: 60em) {
  .footer {
    height: 16em;
  }
}
@media screen and (min-width: 80em) {
  .logof, .icons {
    right: 10%;
  }
}
@media screen and (min-width: 100em) {
  .logof, .icons {
    right: 15%;
  }
}