:root{--black:rgb(0, 0, 0);--blackalpha:rgba(0, 0, 0, 100);--white:rgb(255, 255, 255);--cyan:rgb(37, 182, 192);--cyandark:rgb(44, 52, 53);--gold:rgb(228, 191, 112);--gray:rgb(132, 141, 148);--lightgray:rgb(214, 227, 236);--footerbg:linear-gradient(rgb(52, 96, 99), rgb(47, 84, 87))}
html{scroll-behavior:smooth}
body{margin:0;font-size:1em;line-height:1.6;font-weight:800;font-family:"Lilita one",Monaco,"Courier New",monospace;color:#222}
h1,h2,h3{font-weight:300;margin:.5em 0}
h4,h5,h6{font-weight:700}
h1{font-size:2em;line-height:1.6}
h2{font-size:1.6em;line-height:1.6}
h3{font-size:1.3em;line-height:1.6}
.centre{text-align:center}
.right{text-align:right}
.justify{text-align:justify}
a{color:#06664e}
a:hover,a:visited{color:#0fa0ce}
.button,button,input[type=button],input[type=reset],input[type=submit]{display:inline-block;height:2.3em;padding:2px 30px;color:#555;text-align:center;font-size:.8em;font-weight:600;line-height:2em;letter-spacing:.1em;text-transform:uppercase;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:4px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box}
.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover{color:#333;border-color:#888;outline:0}
.button.button-primary,button.button-primary,input[type=button].button-primary,input[type=reset].button-primary,input[type=submit].button-primary{color:#fff;background-color:#06664e;border-color:#06664e}
.button.button-primary:focus,.button.button-primary:hover,button.button-primary:focus,button.button-primary:hover,input[type=button].button-primary:focus,input[type=button].button-primary:hover,input[type=reset].button-primary:focus,input[type=reset].button-primary:hover,input[type=submit].button-primary:focus,input[type=submit].button-primary:hover{color:#fff;background-color:#1eaedb;border-color:#1eaedb}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{height:38px;padding:6px 10px;background-color:#fff;border:1px solid #d1d1d1;border-radius:4px;box-shadow:none;box-sizing:border-box}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{min-height:65px;padding-top:6px;padding-bottom:6px}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border:1px solid #007ca1;outline:0}
label,legend{display:block;margin-bottom:.5em;font-weight:600}
fieldset{padding:0;border-width:0}
input[type=checkbox],input[type=radio]{display:inline}
label>.label-body{display:inline-block;margin-left:.5em;font-weight:400}
ul{list-style:circle inside}
ol{list-style:decimal inside}
ol,ul{padding-left:0;margin-top:0}
ol ol,ol ul,ul ol,ul ul{margin:1em 0 1em 3em}
li{margin-bottom:1em}
code{padding:.2em .5em;margin:0 .2em;font-size:90%;white-space:nowrap;background:#f1f1f1;border:1px solid #e1e1e1;border-radius:4px}
pre>code{display:block;padding:1em 1em;white-space:pre}
table{border-collapse:collapse}
td,th{padding:12px 15px;text-align:left;border-bottom:1px solid #c4c3c3}
td:first-child,th:first-child{padding-left:0}
td:last-child,th:last-child{padding-right:0}
img{max-width:100%;height:auto}
figure{margin:0}
@media screen and (min-width:48em){
h1{font-size:3em;line-height:1.6;margin:.5em 0}
h2{font-size:2em;line-height:1.6;margin-bottom:.5em}
h3{font-size:1.6em;line-height:1.6}
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6{display:grid;grid-template-columns:1fr;row-gap:1em}
.container{padding:1em}
.rammi{margin:1em 0}
.rammi div{border:1px dotted;text-align:center}
@media screen and (min-width:37.5em){
.col-2,.col-4{display:grid;grid-template-columns:1fr 1fr;grid-gap:1em}
.col-3,.col-5,.col-6{grid-template-columns:1fr 1fr 1fr;grid-gap:1em}
}
@media screen and (min-width:48em){
.col-4{grid-template-columns:repeat(4,1fr)}
.col-5{grid-template-columns:repeat(5,1fr)}
.col-6{grid-template-columns:repeat(6,1fr)}
}
@media screen and (min-width:60em){
.container{max-width:60em;margin:1em auto;padding:0}
}
@media (min-width:80em){
.container{max-width:80em}
}
.col-1f,.col-2f,.col-3f,.col-4f,.col-5f,.col-6f{display:grid;row-gap:1em}
.col-1f{grid-template-columns:1fr}
.col-2f{grid-template-columns:repeat(2,1fr)}
.col-3f{grid-template-columns:repeat(3,1fr)}
.col-4f{grid-template-columns:repeat(4,1fr)}
.col-5f{grid-template-columns:repeat(5,1fr)}
.col-6f{grid-template-columns:repeat(6,1fr)}
@media screen and (min-width:48em){
.col-2f,.col-3f,.col-4f,.col-5f,.col-6f{grid-gap:1em}
}
@font-face{font-family:icomoon;src:url(../fonts/icomoon.eot?7t0ugq);src:url(../fonts/icomoon.eot?7t0ugq#iefix) format('embedded-opentype'),url(../fonts/icomoon.ttf?7t0ugq) format('truetype'),url(../fonts/icomoon.woff?7t0ugq) format('woff'),url(../fonts/icomoon.svg?7t0ugq#icomoon) format('svg');font-weight:400;font-style:normal;font-display:block}
[class*=" icon-"],[class^=icon-]{font-family:icomoon!important;speak-as:never;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
[data-icon]:before{font-family:icomoon;content:attr(data-icon);speak-as:none;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icon-home:before{content:"\e900"}
.icon-user:before{content:"\e971"}
.icon-facebook2:before{content:"\ea91"}
.icon-twitter:before{content:"\ea96"}
.icon-youtube:before{content:"\ea9d"}
.icon-twitch:before{content:"\ea9f"}
.icon-github:before{content:"\eab0"}
.topmenu{background-color:var(--black);border-bottom:5px solid var(--gold);position:fixed;width:100%;z-index:3}
.topmenu ul{margin:0;margin-top:1em;padding:0;padding-right:4em;list-style:none;overflow:hidden;background-color:var(--black)}
.topmenu li a{color:var(--gray);display:block;padding:20px 20px;text-decoration:none}
.topmenu .menu-btn:hover,.topmenu li a:hover{color:var(--white)}
.topmenu .logo{color:var(--white);display:block;float:left;font-size:2em;margin-top:12px;padding:10px 40px;text-decoration:none}
.topmenu .menu{clear:both;max-height:0;transition:max-height .2s ease-out}
.topmenu .menu-icon{margin:1em;cursor:pointer;display:inline;float:right;padding:28px 20px;position:relative;user-select:none}
.topmenu .menu-icon .navicon{background:var(--white);display:block;height:2px;position:relative;transition:background .2s ease-out;width:18px}
.topmenu .menu-icon .navicon:after,.topmenu .menu-icon .navicon:before{background:var(--white);content:'';display:block;height:100%;position:absolute;transition:all .2s ease-out;width:100%}
.topmenu .menu-icon .navicon:before{top:5px}
.topmenu .menu-icon .navicon:after{top:-5px}
.topmenu .menu-btn{display:none}
.topmenu .menu-btn:checked~.menu{max-height:400px}
.topmenu .menu-btn:checked~.menu-icon .navicon{background:0 0}
.topmenu .menu-btn:checked~.menu-icon .navicon:before{transform:rotate(-45deg)}
.topmenu .menu-btn:checked~.menu-icon .navicon:after{transform:rotate(45deg)}
.topmenu .menu-btn:checked~.menu-icon:not(.steps) .navicon:after,.topmenu .menu-btn:checked~.menu-icon:not(.steps) .navicon:before{top:0}
@media (min-width:48em){
.topmenu li{float:left}
.topmenu li a{padding:20px 30px}
.topmenu .menu{clear:none;float:right;max-height:none}
.topmenu .menu-icon{display:none}
}
h1{font-weight:600}
.vmk{height:2em;margin-left:1em;transform:rotate(90deg)}
.bgimage{background:url(https://github.com/vValdimar/Verk7/blob/main/images/brawlstars_bg.jpg?raw=true) 50% 50%;width:100%;height:32em}
.darken{background-blend-mode:darken;background-color:rgba(0,0,0,.753)}
.gamelogo{display:block;margin:auto;top:-12em;position:relative}
.gameicon{display:block;margin:auto;z-index:2;top:192px;right:0;position:relative}
.img{max-width:80%;display:block;margin:auto}
.line{margin:2em auto;border-bottom:2px solid var(--gray)}
iframe{width:50%;border:5px solid var(--cyandark)}
.footer{color:var(--gray);margin-top:5em;background-color:var(--black);border-top:5px solid var(--cyan)}
.footer .img{display:none}
.icons{display:block;position:absolute;right:5%}
.icons a{font-size:200%;color:var(--gray);text-decoration:none}
.icons a:hover{color:var(--white)}
.copyright{color:var(--cyandark)}
.logof{color:var(--white);display:block;float:right;font-size:2em;position:absolute;right:5%;margin-top:3em;text-decoration:none}
form{padding:1em;border:2px solid var(--gray)}
input{width:100%}
table{margin:auto;border-collapse:collapse;max-width:90%}
td{padding:.3em}
tbody tr:nth-child(odd){background-color:var(--lightgray)}
tbody button{background-color:var(--white)}
@media (min-width:48em){
.footer .img{display:block}
}
@media screen and (min-width:60em){
.footer{height:16em}
}
@media screen and (min-width:80em){
.icons,.logof{right:10%}
}
@media screen and (min-width:100em){
.icons,.logof{right:15%}
}
.temphide{opacity:0;top:40em;animation:temphide 1s cubic-bezier(.645,.045,.355,1) both}
.bsbg{position:relative;height:48em;background-blend-mode:darken;animation:bsbg 4s cubic-bezier(.645,.045,.355,1) both}
.gamelogo{animation:gamelogo 2s cubic-bezier(.645,.045,.355,1) both}
.gameicon{animation:gameicon 1s cubic-bezier(.645,.045,.355,1) both}
.signup{color:var(--white);font-size:4em;font-weight:800;position:relative;animation:signup 1s cubic-bezier(.645,.045,.355,1) both}
@keyframes bsbg{
0%{opacity:0;height:0}
50%{opacity:1;height:40em}
100%{height:40em;background-color:rgba(0,0,0,.753)}
}
@keyframes gamelogo{
50%{top:-12em;filter:blur(20px)}
100%{filter:blur(0);top:12em}
}
@media screen and (max-width:37.5em){
@keyframes gameicon{
100%{top:8em}
}
@keyframes signup{
0%{text-align:center;top:0;letter-spacing:-.5em;opacity:0}
40%{opacity:.6}
100%{text-align:center;top:1.5em;opacity:1}
}
}
@media screen and (min-width:37.5em){
@keyframes gameicon{
100%{right:10em}
}
@keyframes signup{
0%{left:45%;letter-spacing:-.5em;opacity:0}
40%{opacity:.6}
100%{left:50%;opacity:1}
}
}
@keyframes temphide{
50%{opacity:0}
100%{opacity:1}
}