.header {
    padding-top: 6em;
}

.none {
    display: none;
}

.background {
    background: url("../images/values-bg.jpg");
    color: var(--white);
}

.circle {
    border: 2px solid var(--white);
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
}

.phone {
    display: none;
}

footer {
    background-image: var(--footerbg);
    color: var(--gray);
}

footer .container {
  margin-bottom: 0;
}

.lists {
    padding-top: 2em;
    text-align: left;
}

table {
    margin: auto;
    border-collapse: collapse;
    max-width: 90%;
  }
  td {
    padding: .3em;
  }
  tbody tr:nth-child(odd) {
    background-color: var(--gray);
  }
  tbody button {
    background-color: var(--white);
  }

form {
    padding: 1em;
    border: 2px solid var(--gray);
  }
  input {
    width: 100%;
  }

  a {
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding-left: 22px;
  text-decoration: none;
  }
  a[href$=".pdf"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/pdf.png");
  }
  a[href$=".doc"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/doc.png");
  }
  a[href$=".jpg"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/image.png");
  }
  a[href$=".mp3"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/audio.png");
  }
  a[href$=".mp4"] {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/video.png");
  }

.lists a {
  color: var(--gray);
  text-decoration: none;
}
.lists a:checked {
  color: var(--gray);
}

@media screen and (max-width:48em) {
  .table thead{
    display: none;
  }
  .table, .table tbody, .table tr, .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-top: 3em;
  }
  .table tbody tr td {
    text-align: right;
    position: relative;
  }
  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
  }
  .caption {
    display: block;
  }
}

@media screen and (min-width: 60em) {
    header {
      margin: 0 auto;
      margin-left: 15%;
      max-width: 80%;
    }
  }

  .anchor {
    display: block;
    position: relative;
    top: -82px;
    visibility: hidden;
}

@media screen and (min-width: 37.5em) {
  .phone {
      display: block;
      width: 75%;
      transform: rotate(10deg);
  }    
}